<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<<<<<<< HEAD
=======

>>>>>>> af76d9d8c2fd43a4490cab3841560ba786d8540e
<%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
<<<<<<< HEAD
<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
=======
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
>>>>>>> af76d9d8c2fd43a4490cab3841560ba786d8540e
